body {

   background: rgb(58, 58, 237);
   font: normal 15px arial;
}

header {
   color: white;
   text-align: center;
   text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.841);

}

section {

   background: white;
   border-radius: 10px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.58);

}

div {

   text-align: center;
   padding: 10px;
}

footer {

   color: white;
   text-align: center;
   font-style: italic;
   text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.841);

}